// Colores
$color-primario: #0466b0;
$color-secundario: #fff;

//Tipografia
$font-family: "Montserrat", Arial, sans-serif;

// Animación de entrada de modal
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

// Estilos para dispositivos móviles con un ancho máximo de 600px
@media screen and (max-width: 600px) {
    .banner, header {
        padding: 50px 0; 
    }

    .texto-bienvenida, nav {
        padding: 5px 0; 
    }

    nav .logo {
        padding-left: 10px;
        width: 60px; 
        height: auto; 
    }

    .login {
        padding: 4px 6px;
        border-radius: 500px;
        background-color: $color-primario;
        color: $color-secundario;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($color-primario, 10%);
        }
    }

    nav {
        ul {
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 10px;
            }
        }
    }

    body {
        img {
            max-width: 20rem;
            display: block;
            margin: auto;
        }

        p {
            padding: 15px;
        }
    }

    .item {
        width: calc(50% - 20px);
    }
    .item-single {
        width: 300px;
        .img-product {
            width: 1rem;
        }
    }
    
    footer {
        box-sizing: border-box;
    }
}

// Transición de botones 
%transition-button {
    transition: all 0.2s linear;
}

//Estilos de inputs
%input-styles {
    padding: 8px;
    border: 2px solid $color-primario;
    border-radius: 50px;
    width: 90%;
    font-size: 14px;
    margin: 15px auto;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

//Estilo de banners
@mixin banner-style($background-image) {
    background: $background-image center/cover;
    color: $color-secundario;
    text-align: center;
    padding: 3rem 0;
    height: 8rem;
    
    h1, .texto-bienvenida {
        animation: slideIn 1.3s cubic-bezier(0, 0, 0, 1);
    }

    .texto-bienvenida {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
    }
}

//Estilo de botones general
@mixin custom-button($color) {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    background-color: $color; 
    color: $color-secundario;
    font-size: 1em;
    cursor: pointer;
    @extend %transition-button;
    
    &:hover {
        background-color: darken($color, 10%);
        transform: scale(1.1);
    }
}

//Estilo de contenedores de item
%common-styles {
    width: 300px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    /* Estilos para el título del producto */
    h3 {
        text-align: center;
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    /* Estilos para la descripción del producto */
    p {
        padding: 20px 5px 10px;
        margin: 7px 0;
        font-size: 0.9em;
        color: #666;
    }

    /* Estilos para el precio del producto */
    .precio {
        display: block;
        margin: 5px 0 20px;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        color: #1fc124;
    }

    /* Estilos para el botón de comprar */
    .boton-comprar {
        @include custom-button($color-primario);
    }
    .btn-link {
        text-decoration: none;
    }
    .img-item:hover {
        transform: scale(1.6);
    }
}