// Colores
$color-primario: #0466b0;
$color-secundario: #fff;

//Tipografia
$font-family: "Montserrat", Arial, sans-serif;

// Animación de entrada de modal
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

// Estilos para dispositivos móviles con un ancho máximo de 600px
@media (max-width: 600px) {
    .banner, header {
        padding: 50px 0; 
    }

    .texto-bienvenida, nav {
        padding: 5px 0; 
    }

    nav .logo {
        padding-left: 10px;
        width: 60px; 
        height: auto; 
    }

    .login {
        padding: 4px 6px;
        border-radius: 500px;
        background-color: $color-primario;
        color: $color-secundario;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($color-primario, 10%);
        }
    }

    nav {
        ul {
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 10px;
            }
        }
    }

    body {
        img {
            max-width: 20rem;
            display: block;
            margin: auto;
        }

        p {
            padding: 15px;
        }
    }

    .item {
        width: calc(50% - 20px);
    }

    footer {
        box-sizing: border-box;
    }
}

// Transición de botones 
@mixin transition-all {
    transition: all 0.2s linear;
}
// @mixin banner-estilos($background-image) {
//     background: $background-image center/cover;
//     color: $color-secundario;
//     text-align: center;
//     padding: 3rem 0;
//     height: 8rem;
//     h1, .texto-bienvenida {
//         animation: slideIn 1s ease-in-out;
//     }
//     .texto-bienvenida {
//         background-color: rgba(0, 0, 0, 0.5);
//         padding: 20px;
//         border-radius: 10px;
//     }
// }


// .mi-banner {
//     @include banner-estilos('../img/banner_items.jpg');
// }
