// Colores
$color-primario: #0465b0;
$color-secundario: #fff;
// $gradient-start: rgba(3, 74, 126, 0.7); // Color inicial del degradado (más oscuro con 70% de opacidad)
// $gradient-end: rgba(5, 128, 230, 0.3);

//Tipografia
$font-family: "Quicksand", Arial, sans-serif;

// Animación de entrada de modal
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

// Estilos para dispositivos móviles con un ancho máximo de 600px
@media screen and (max-width: 600px) {
    .banner, header {
        padding: 50px 0; 
    }

    .texto-bienvenida, nav {
        padding: 5px 0; 
    }

    .login {
        padding: 4px 6px;
        border-radius: 500px;
        background-color: $color-primario;
        color: $color-secundario;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($color-primario, 10%);
        }
    }

    nav {
        ul {
            flex-wrap: wrap;
            justify-content: center;
        }

        #menu-icon {
            padding: 15px 0 0 20px;
        }

        #cart-icon {
            padding: 15px 20px 0 0;
        }
    }

    body {
        img {
            max-width: 20rem;
            display: block;
            //margin: auto;
        }

        p {
            padding: 15px;
            font-size: 0.75rem;
        }
    }

    .item {
        width: calc(50% - 20px);
    }
    .cart__item {
        max-width: 23.75rem;
    }
    
    footer {
        flex-direction: column;
    }
    
}

// Transición de botones 
%transition-button {
    transition: all 0.2s linear;
}

//Estilos de inputs
%input-styles {
    padding: 8px;
    border: 2px solid $color-primario;
    border-radius: 50px;
    width: 90%;
    font-size: 14px;
    margin: 15px auto;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

//Estilo de banners
@mixin banner-style($background-image) {
    background: $background-image center/cover;
    color: $color-secundario;
    text-align: center;
    padding: 3rem 0;
    height: 8rem;
    font-size: 1rem;
    
    h1, .texto-bienvenida {
        animation: slideIn 1.3s cubic-bezier(0, 0, 0, 1);
    }

    .texto-bienvenida {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 8px;
        margin: 10px;
    }
}

//Estilo de botones general
@mixin custom-button($color) {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    padding: 8px 15px;
    border: none;
    border-radius: 50px;
    background-color: $color; 
    color: $color-secundario;
    font-size: 1em;
    font-family: "Quicksand";
    cursor: pointer;
    @extend %transition-button;
    
    &:hover {
        background-color: darken($color, 10%);
        transform: scale(1.1);
    }
}

//Mixin imágenes principal
@mixin background-gradient($gradient-start, $gradient-end, $background-image) {
    position: relative;
    max-width: 650px;
    height: 500px;
    margin: 20px auto;
    padding: 2rem;
    color: $color-secundario;
    background: linear-gradient($gradient-start, $gradient-end), url($background-image) no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    
    @media screen and (max-width: 600px){
        margin: 10px;
    }
    h3 {
        font-weight: 600;
    }
    p {
        font-size: 1rem;
        text-align: justify;
        padding: 5rem 1rem;
        @media screen and (max-width: 600px){
            padding: 0 0.5rem;
        }
    }
}

//Estilo de contenedores de item
%item-styles {
    width: 300px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    /* Estilos para el título del producto */
    h2 {
        text-align: center;
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: bold;
    }

    /* Estilos para la descripción del producto */
    p {
        padding: 20px 5px 10px;
        margin: 7px 0;
        font-size: 0.9em;
        color: #333;
    }

    /* Estilos para el precio del producto */
    .precio {
        display: block;
        margin: 5px 0 20px;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        color: #1fc124;
    }

    /* Estilos para el botón de comprar */
    .add-to-cart {
        @include custom-button($color-primario);
    }
    .btn-link {
        text-decoration: none;
    }
    .img-item:hover {
        transform: scale(1.6);
    }
}

%title-style {
    text-align: center;
    font-weight: 600;
}

@media (min-width: 650px) {
    .panel-nav {
        justify-content: center; 
    }
}

@media (min-width: 750px) {
    .panel-nav {
        justify-content: center; // Ensure it is centered
    }

    .boton-nav {
        margin-right: 10px; // Adjust the margin to reduce space between buttons
        
        &:last-child {
            margin-right: 0; // Ensure no extra margin on the last item
        }
    }
}
