// Estilos generales
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

// Estilos del banner
.banner {
    @include banner-style(url('../img/banner-about-us.jpg'));
}

.banner-items {
    @include banner-style(url('../img/banner_items.jpg'));
}

.banner-sign-up {
    @include banner-style(url('../img/banner-sign-up.jpg'));
}

.banner-about-of {
    @include banner-style(url('../img/banner_morl.jpg'));
}

.banner-item {
    @include banner-style(url('../img/banner-producto.jpg'));
}

// Encabezado
header {
    z-index: 1000;
    background-color: $color-primario;
    color: $color-secundario;
    padding: 15px 0;
    height: auto;

    nav {
        display: flex;
        align-items: center;

        .logo-morl {
            padding: 0 3px 0 20px; 
            width: 180px;
            height: auto;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            li {
                margin-right: 20px;

                a {
                    padding: 5px 13px;
                    color: $color-secundario;
                    text-decoration: none;
                    border: none;
                    border-radius: 500px;
                    background-color: $color-primario;
                    cursor: pointer;
                    transition: background-color 0.3s ease, transform 0.3s ease;

                    &:hover {
                        background-color: darken($color-primario, 10%);
                        transform: scale(1.1);
                    }
                }
            }
        }

        .header__icon {
            padding-right: 30px;
            filter: invert(1);
            width: 40px;
            height: auto;
            cursor: pointer;
        }

        .panel-nav {
            justify-content: space-evenly; // Default behavior for smaller screens
        }

        .boton-nav {
            //padding-right: 5rem;
            align-self: center;
        }
    }

    transition: background-color 0.5s linear;
}


header.scrolled {
    background-color: $color-secundario; /* Cambia el color de fondo al hacer scroll */
    position: fixed; /* Fija el header en la parte superior */
    width: 100%; /* Opcional: asegura que el header ocupe toda la anchura */
  
    // Cambiar el color del ícono del carrito cuando se hace scroll
    .cart__icon-container svg {
        fill: #ffffff; /* Color blanco por defecto */
        transition: fill 0.3s ease; /* Agregar una transición suave */
    }
}
  
/* Aplicar margen superior al contenido cuando el header está fijo */
header.scrolled + main {
    margin-top: 130px; /* Ajusta la altura según la altura de tu header */
}

// Cambiar el color del ícono del carrito cuando se hace scroll
header.scrolled + main {
    .cart__icon-container svg {
        fill: #0465b0; /* Cambiar a color azul cuando se hace scroll */
    }
}
  

// Contenedor principal
main {
    .text-containers {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .text-container {
            @include background-gradient(rgba(3, 74, 126, 0.7), rgba(5, 128, 230, 0.3), '../img/AC.jpg');
        }

        .text-container-other {
            @include background-gradient(rgba(133, 131, 131, 0.7), rgba(5, 128, 230, 0.3), '../img/AC-residencial.jpg');
        }
        .text-container-1 {
            @include background-gradient(rgba(0, 51, 102, 0.7), rgba(0, 153, 255, 0.3), '../img/AC-img.jpg');
        }
        .text-container-2 {
            @include background-gradient(rgba(49, 0, 51, 0.7), rgba(171, 52, 84, 0.3), '../img/AC-mision.jpg');
        }
        .text-container-3 {
            @include background-gradient(rgba(133, 131, 131, 0.7), rgba(5, 128, 230, 0.3), '/img/morl-autos.jpg');
        }
    }

    padding: auto;
    h2 {
        text-align: center;
        font-weight: 400;
    }

    h3 {
        text-align: center;
        font-weight: 600;
    }

    .encabezado {
        font-weight: 500;
        background-color: $color-primario;
        border-radius: 20px;
        color: $color-secundario;
        height: 60px;
        margin: 10px 10px;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }

    p {
        padding: 0 6%;
        text-align: justify;
        margin-top: 20px;
    }
    img {
        width: 40rem;
        display: block;
        padding: 25px;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: $color-secundario;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .registration-form {
        display: flex;
        flex-direction: column;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        font-weight: bold;
    }

    #nombre, #correo,
    #passwrd, #direccion,
    #telefono {
        @extend %input-styles;
    }
    
    button {
        background-color: $color-primario;
        color: $color-secundario;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }
    
    button:hover {
        background-color: #0056b3;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .img-product, .product-description {
        width: 25rem;
        margin: 10px; 
        border-radius: 35px;
    }
}

/* Estilos para la sección de productos */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

/* Estilos para cada producto */
    .item-single { // Articulo individual
        @extend %item-styles;

        width: 20rem;
        padding: 20px;

        /* Estilos para el precio del producto */
        .precio {
            padding: 15px;
        }

        /* Estilos para el botón de la ficha técnica */
        .boton-ficha {
            @include custom-button(#ee5e5e);
        }
        
        @media screen and (max-width: 600px){
            width: 75%;
        }
    }

    .item { // Artículos en productos.html
        @extend %item-styles;

        /* Estilos para la imagen del producto */
        .img-item {
            width: 100%;
            max-width: 15rem;
            border-radius: 35px;
            height: auto;
        }

        /* Estilos para la descripción del producto */
        p {
            padding: 20px;
        }

        /* Estilos para el botón de información */
        .boton-info {
            @include custom-button(#259356);
        }
    }
}
// Pie de página
footer {
    background-color: $color-primario;
    color: $color-secundario;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    justify-content: space-between; /* Alinea los elementos al inicio, centro y final del contenedor */
    height: auto;
    p {
        margin: 5px 0;
        font-size: 12px;
        display: flex;
        align-items: center; 
        padding: 5px;
        box-sizing: border-box;
        text-align: left;
    }
         
    .icon { // Iconos generales
        width: 20px;
        margin-right: 10px; 
        filter: invert(1);
    }

    .mail { // Texto de mail
        color: $color-secundario;
        text-decoration-line: none;
    }
    a[href^="tel"] { /* Solo para enlaces telefónicos */
        margin-right: 5px; /* Ajusta según sea necesario */
    }
}