// Estilos generales
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

// Estilos del banner
.banner {
    @include banner-style(url('../img/banner-about-us.webp'));
}

.banner-items {
    @include banner-style(url('../img/banner_items.webp'));
}

.banner-sign-up {
    @include banner-style(url('../img/banner-sign-up.webp'));
}

.banner-about-of {
    @include banner-style(url('../img/banner_morl.webp'));
}

.banner-item {
    @include banner-style(url('../img/banner-producto.webp'));
}

// Encabezado
header {
    z-index: 1000;
    background-color: #fff;
    color: $color-secundario;
    padding: 15px 0 10px 0;
    height: auto;

    nav {
        display: flex;
        align-items: center;

        .logo-morl {
            padding: 0 3px 0 28px; 
            width: 150px;
            height: auto;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: right;
            align-items: center;
            flex-grow: 1;

            li {
                margin-right: 20px;

                a {
                    padding: 5px 13px;
                    color: black;
                    text-decoration: none;
                    border: 1px solid $color-primario;
                    border-radius: 500px;
                    //background-color: $color-primario;
                    cursor: pointer;
                    transition: background-color 0.3s ease, transform 0.3s ease;

                    &:hover {
                        background-color: darken($color-primario, 10%);
                        transform: scale(1.1);
                        color: #fff;
                    }
                }
            }
        }

        .header__icon {
            padding-right: 30px;
            width: 40px;
            height: auto;
            cursor: pointer;
        }

        .panel-nav {
            justify-content: space-evenly; // Default behavior for smaller screens
        }

        .boton-nav {
            //padding-right: 5rem;
            align-self: center;
        }
    }
    .logo-link {
        padding-left: 36px; /* Elimina padding */
        border: none; /* Sin bordes */
        border-radius: 0; /* Sin bordes redondeados */
        background-color: transparent; /* Fondo transparente */
        transition: none; /* Sin transición */
    }
    
    .logo-link:hover {
        background-color: transparent; /* Sin cambio de fondo al pasar el cursor */
        transform: none; /* Sin transformación */
        color: inherit; /* Heredar color del padre */
    }

    //transition: background-color 0.5s linear;
}

header.scrolled {
    //background-color: $color-secundario; /* Cambia el color de fondo al hacer scroll */
    position: fixed; /* Fija el header en la parte superior */
    width: 100%; /* Opcional: asegura que el header ocupe toda la anchura */
}

// Contenedor principal
main {
    .text-containers {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .text-container {
            @include background-gradient(rgba(3, 74, 126, 0.7), rgba(5, 128, 230, 0.3), '../img/AC.webp');
        }
        .text-container-other {
            @include background-gradient(rgba(133, 131, 131, 0.7), rgba(5, 128, 230, 0.3), '../img/AC-residencial.webp');
        }
        .text-container-1 {
            @include background-gradient(rgba(0, 51, 102, 0.7), rgba(0, 153, 255, 0.3), '../img/AC-img.webp');
        }
        .text-container-2 {
            @include background-gradient(rgba(49, 0, 51, 0.7), rgba(171, 52, 84, 0.3), '../img/AC-mision.webp');
        }
        .text-container-3 {
            @include background-gradient(rgba(133, 131, 131, 0.7), rgba(5, 128, 230, 0.3), '../img/morl-autos.webp');
        }
    }

    padding: auto;
    h2 {
        text-align: center;
        font-weight: 400;
    }
    .head-text-container{
        @extend %title-style;
    }
    
    h3 {
        @extend %title-style;
    }

    .encabezado {
        font-weight: 500;
        background-color: $color-primario;
        border-radius: 20px;
        color: $color-secundario;
        height: 60px;
        margin: 10px 10px;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
    }

    p {
        padding: 0 6%;
        text-align: justify;
        margin-top: 20px;
    }
    img {
        width: 40rem;
        display: block;
        padding: 25px;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: $color-secundario;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .registration-form {
        display: flex;
        flex-direction: column;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        font-weight: bold;
    }

    #nombre, #correo,
    #passwrd, #direccion,
    #telefono {
        @extend %input-styles;
    }
    
    button {
        background-color: $color-primario;
        color: $color-secundario;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
    }
    
    button:hover {
        background-color: #0056b3;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .img-product, .product-description {
        width: 25rem;
        margin: 10px; 
        border-radius: 35px;
    }

    .notification {
        position: fixed;
        top: -50px; /* Inicia fuera de la vista */
        left: 50%;
        transform: translateX(-50%);
        background-color: #259356;
        color: #fff;
        padding: 15px 30px;
        border-radius: 25px;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: top 0.5s ease, opacity 0.5s ease;
        text-align: center;
        width: 55%;
    }
    
    .notification.visible {
        top: 20px; /* Posición visible */
        opacity: 1;
    }
    
    .hidden {
        display: none;
    }

}

/* Estilos para la sección de productos */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

/* Estilos para cada producto */
    .item-single { // Articulo individual
        @extend %item-styles;

        width: 20rem;
        padding: 20px;

        /* Estilos para el precio del producto */
        .precio {
            padding: 15px;
        }

        /* Estilos para el botón de la ficha técnica */
        .boton-ficha {
            @include custom-button(#ee5e5e);
        }
        
        @media screen and (max-width: 600px){
            width: 75%;
        }
    }

    .item { // Artículos en productos.html
        @extend %item-styles;

        /* Estilos para la imagen del producto */
        .img-item {
            width: 100%;
            max-width: 15rem;
            border-radius: 35px;
            height: auto;
        }

        /* Estilos para la descripción del producto */
        p {
            padding: 20px;
        }

        /* Estilos para el botón de información */
        .boton-info {
            @include custom-button(#218748);
        }
    }
}
// Pie de página
footer {
    background-color: $color-primario;
    color: $color-secundario;
    padding: 10px 0;
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
    justify-content: space-between; /* Alinea los elementos al inicio, centro y final del contenedor */
    height: auto;
    p {
        margin: 5px 0;
        font-size: 12px;
        display: flex;
        align-items: center; 
        padding: 5px;
        box-sizing: border-box;
        text-align: left;
    }
         
    .icon { // Iconos generales
        width: 20px;
        margin-right: 10px; 
        filter: invert(1);
    }

    .mail { // Texto de mail
        color: $color-secundario;
        text-decoration-line: none;
    }
    a[href^="tel"] { /* Solo para enlaces telefónicos */
        margin-right: 5px; /* Ajusta según sea necesario */
    }
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: right;

        .social-icon {
            width: 20px;
            margin-right: 10px;
            filter: invert(1);
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}