body { // Estilos generales
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

.banner { // Estilos del banner 
    background-image: url('../img/banner_morl.jpg'); 
    background-size: cover; 
    background-position: center; 
    color: $color-secundario; 
    text-align: center;
    padding: 3rem 0;
    height: 8rem;
    h1 {
        animation: slide-up 1s ease-in-out; // Animación de desvanecimiento
    }
}

.texto-bienvenida { // Texto de banner
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    animation: slide-up 1s ease-in-out;
}

header { // Encabezado
    background-color: $color-primario;
    color: $color-secundario;
    padding: 15px 0;
}

nav { // Listado de enlaces
    display: flex;
    align-items: center; 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        li {
            margin-right: 20px;
            a {
                padding: 9px 13px;
                color: $color-secundario;
                text-decoration: none;
                border: none;
                border-radius: 500px;
                background-color: $color-primario;
                color: $color-secundario;
                cursor: pointer;
                transition: transform 0.3s ease;
                &:hover {
                    background-color: darken($color-primario, 10%);
                    transform: scale(1.1);
                }
            }
        }
    }
    .logo {
        padding-left: 10px;
        width: 70px; 
        height: auto; 
    }
    .cart {
        padding-right: 40px;
        filter: invert(1);
        width: 40px; 
        height: auto; 
        cursor: pointer;
    }
}

main { // Contenedor principal
    padding: auto;
}

footer { // Pie de página
    background-color: $color-primario;
    color: $color-secundario;
    text-align: center;
    padding: 10px 0;
    p {
        margin: 10px 0 10px;
        font-size: 13px;
    }
}