@charset "UTF-8";
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 600px) {
  .banner, header {
    padding: 50px 0;
  }
  .texto-bienvenida, nav {
    padding: 5px 0;
  }
  nav .logo {
    padding-left: 10px;
    width: 60px;
    height: auto;
  }
  .login {
    padding: 4px 6px;
    border-radius: 500px;
    background-color: #0466b0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .login:hover {
    background-color: #03497e;
  }
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav ul li {
    margin: 10px;
  }
  body img {
    max-width: 20rem;
    display: block;
    margin: auto;
  }
  body p {
    padding: 15px;
  }
  body footer p {
    margin: 5px 0;
    font-size: 12px;
    padding: 4px;
  }
  .item {
    width: calc(50% - 20px);
  }
}
.busqueda-boton {
  padding-bottom: 10px;
}
.busqueda-boton form input[type=text] {
  padding: 10px;
  border: 1px solid #0466b0;
  border-radius: 20px;
  margin-right: 10px;
  width: 200px;
  font-size: 14px;
}
.busqueda-boton form button[type=submit] {
  padding: 8px 12px;
  border: none;
  border-radius: 500px;
  background-color: #0466b0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.busqueda-boton form button[type=submit]:hover {
  background-color: #03497e;
  scale: 1.1;
}

.login {
  padding: 8px 12px;
  border: none;
  border-radius: 500px;
  background-color: #101d70;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login:hover {
  background-color: #03497e;
  scale: 1.1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: slideIn 0.5s ease forwards;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
}

#email, #password {
  padding: 8px;
  border: 2px solid #0466b0;
  border-radius: 50px;
  width: 250px;
  font-size: 14px;
  margin: 15px auto;
  display: block;
  text-align: center;
}

.submit {
  padding: 8px 12px;
  border: none;
  width: 200px;
  border-radius: 500px;
  background-color: #0466b0;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 40px auto;
  display: block;
  text-align: center;
}
.submit:hover {
  background-color: #03497e;
  scale: 1.1;
}

.text-sign-up, .text-sign-in {
  margin: 10px auto;
  display: block;
  text-align: center;
}

.text-sign-in {
  font-weight: 600;
  padding: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}

small {
  display: block;
  text-align: center;
  opacity: 0.6;
}

body {
  font-family: "Noto sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  background: url("../img/banner_morl.jpg") center/cover;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  height: 8rem;
}
.banner h1, .banner .texto-bienvenida {
  animation: slideIn 1s ease-in-out;
}
.banner .texto-bienvenida {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.banner-items {
  background: url("../img/banner_items.jpg") center/cover;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  height: 8rem;
}
.banner-items h1, .banner-items .texto-bienvenida {
  animation: slideIn 1s ease-in-out;
}
.banner-items .texto-bienvenida {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

header {
  background-color: #0466b0;
  color: #fff;
  padding: 15px 0;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
header nav ul li {
  margin-right: 20px;
}
header nav ul li a {
  padding: 9px 13px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 500px;
  background-color: #0466b0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
header nav ul li a:hover {
  background-color: #03497e;
  transform: scale(1.1);
}
header nav .logo {
  padding-left: 10px;
  width: 70px;
  height: auto;
}
header nav .cart {
  padding-right: 40px;
  filter: invert(1);
  width: 40px;
  height: auto;
  cursor: pointer;
}

main {
  padding: auto;
}
main h2 {
  text-align: center;
  font-weight: 500;
}
main p {
  padding: 0 8rem;
  text-align: justify;
}
main img {
  width: 40rem;
  display: block;
  margin: auto;
}

/* Estilos para la sección de productos */
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

/* Estilos para cada producto */
.item {
  width: 300px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Estilos para la imagen del producto */
.item img {
  width: 100%;
  border-radius: 5px;
}

/* Estilos para el título del producto */
.item h3 {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Estilos para la descripción del producto */
.item p {
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}

/* Estilos para el precio del producto */
.item .precio {
  display: block;
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: #1fc124; /* Color primario */
}

/* Estilos para el botón de comprar */
.item .boton-comprar {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 50px;
  background-color: #0466b0; /* Color primario */
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.item .boton-comprar:hover {
  background-color: #03497e;
  scale: 1.1;
}

footer {
  background-color: #0466b0;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
footer p {
  margin: 10px 0;
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */